@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
}


@keyframes badgePulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.18); }
  100% { transform: scale(1); }
}

.badge-animate {
  display: inline-block;
  animation: badgePulse 3.5s infinite ease-in-out;
}
